extends layout

block main
  if error
    div.error!= error

  form(method="post").login
    label(for="user").login-user-label Username
    input(type="text" id="user" name="user" placeholder="Username").login-user

    label(for="pass").login-pass-label Password
    input(type="password" id="pass" name="pass" placeholder="Password").login-pass

    input(type="hidden" name="_csrf" value=csrf)

    input(type="submit" id="submit" value="Login").login-submit.button
