extends ../layout

block main
  form(method="post" action=`/articles`)
    input(name="title" placeholder="Article Title").article-edit-title

    textarea(name="body" placeholder="Article Body").article-edit-body

    input(type="hidden" name="_csrf" value=csrf)

    input(type="submit" value="Confirm Edit").article-edit-submit.button
